<div
  fxLayout="column"
  fxLayoutAlign="center center"
  *ngIf="breedList && breedList?.message"
  [style.margin]="'2rem'"
>
  <div>
    <mat-form-field [style.margin-left]="'2rem'">
      <mat-label>Breeds</mat-label>
      <mat-select
        [(ngModel)]="selectedBreeds"
        multiple
        (openedChange)="populateSubBreeds()"
      >
        <mat-select-trigger>
          {{ selectedBreeds ? selectedBreeds[0] : "" }}
          <span
            *ngIf="selectedBreeds.length > 1"
            class="example-additional-selection"
          >
            (+{{ selectedBreeds.length - 1 }}
            {{ selectedBreeds?.length === 2 ? "other" : "others" }})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let breed of breedListArr" [value]="breed">{{
          breed
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <!-- SUB BREEDS -->
    <mat-form-field (click)="openModal()" [style.margin-left]="'2rem'">
      <mat-label>Sub-Breeds</mat-label>
      <mat-select [(ngModel)]="selectedSubBreeds" multiple>
        <mat-select-trigger>
          {{ selectedSubBreeds.length ? selectedSubBreeds[0].subbreed : "" }}
          <span
            *ngIf="selectedSubBreeds.length > 1"
            class="example-additional-selection"
          >
            (+{{ selectedSubBreeds.length - 1 }}
            {{ selectedSubBreeds.length === 2 ? "other" : "others" }})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let dog of breedSubbreedMask" [value]="dog">
          {{ dog.subbreed | getBreedName: breedList:selectedBreeds }} -
          {{ dog.subbreed }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field [style.margin-left]="'2rem'">
      <mat-label>Quantity</mat-label>
      <mat-select [(ngModel)]="selectedQuantity" name="selectedQuantity">
        <mat-option
          *ngFor="let selectQuantity of quantity"
          [value]="selectQuantity"
        >
          {{ selectQuantity }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div [style.margin]="'1rem 0'" fxLayout="column" fxLayoutAlign="center end">
      <button
        mat-raised-button
        color="primary"
        (click)="fetchDogs(selectedQuantity)"
        [disabled]="
          selectedQuantity === 'none' ||
          selectedBreeds === null ||
          selectedBreeds.length === 0
        "
      >
        get {{ selectedQuantity }}
      </button>
      <p *ngIf="dogsImgObs?.length" [style.margin-top]="'2rem'">
        We found {{ dogsImgObs?.length }} puppies
      </p>
    </div>
  </div>
</div>
<div>
  <div fxLayout="row wrap" fxLayoutAlign="space-around start">
    <app-dog-card
      *ngFor="let dog of dogsImgObs"
      [dogImageState]="dog.dogImageState"
      [dogInfoState]="dog.dogInfoState"
      [breedsPageMode]="true"
    ></app-dog-card>
  </div>
</div>
