<div fxLayout="column" fxLayoutAlign="center center" *ngIf="apiBreedsSubbreeds" [style.margin]="'2rem'">
  <div>
    <mat-form-field [style.margin-left]="'2rem'">
      <mat-label>Breeds</mat-label>
      <mat-select [(ngModel)]="selectedBreeds" (selectionChange)="breedSelectionChanged()" multiple>
        <mat-select-trigger>
          {{ selectedBreeds ? selectedBreeds[0] : "" }}
          <span *ngIf="selectedBreeds.length > 1" class="example-additional-selection">
            (+{{ selectedBreeds.length - 1 }}
            {{ selectedBreeds?.length === 2 ? "other" : "others" }})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let dog of apiBreedsSubbreeds" [value]="dog.breed">{{ dog.breed }}</mat-option>
      </mat-select>
    </mat-form-field>
    <!-- SUB BREEDS -->
    <mat-form-field (click)="openModal()" [style.margin-left]="'2rem'">
      <mat-label>Sub-Breeds</mat-label>
      <mat-select [(ngModel)]="subBreeds" (selectionChange)="breedSelectionChanged()" multiple>
        <mat-select-trigger>
          {{ subBreeds ? subBreeds[0] : "" }}
          <span *ngIf="subBreeds.length > 1" class="example-additional-selection">
            (+{{ subBreeds.length - 1 }}
            {{ subBreeds.length === 2 ? "other" : "others" }})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let dog of subBreedListMap" [value]="dog.subbreed">
          {{ dog.breed }} -
          {{ dog.subbreed }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div [style.margin]="'1rem 0'" fxLayout="column" fxLayoutAlign="center end">
      <button mat-raised-button color="primary" [disabled]="selectedBreeds === null || selectedBreeds.length === 0 || fetchingDogs"
        (click)="fetchDogs(selectedQuantity)">
        get {{ numberOfDogs }} doggies!
        <!-- {{ selectedQuantity }} -->
      </button>
      <p *ngIf="dogs?.length" [style.margin-top]="'2rem'">
        We found {{ dogs?.length }} puppies
      </p>
    </div>
  </div>
</div>
<div>
  <div fxLayout="row wrap" fxLayoutAlign="space-around start">
    <app-dog-card *ngFor="let dog of dogs" [dog]="dog" [breedsPageMode]="true"></app-dog-card>
  </div>
</div>