<mat-card [style.maxWidth]="'400px'" class="mat-card">
  <mat-card-header>
    <mat-card-title>{{ dog?.title }}</mat-card-title>
    <mat-card-subtitle *ngIf="dog?.state === ContentState.LOADED"
      >Dog Breed</mat-card-subtitle
    >
    <mat-card-title>
      <mat-chip-list
        class="mat-chip-list-stacked"
        *ngIf="dog?.state === ContentState.LOADING"
      >
        <mat-chip disabled class="mat-chip-title-placeholder stage"></mat-chip>
        <mat-chip
          disabled
          class="mat-chip-subtitle-placeholder stage"
        ></mat-chip>
      </mat-chip-list>
    </mat-card-title>
    <div>
      <button
        mat-icon-button
        color="primary"
        *ngIf="!favoritesMode && !breedsPageMode"
        (click)="getAnotherDog.emit()"
      >
        <mat-icon>cached</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon color="warn" (click)="handleFavorite()">{{
          favorited ? "favorite" : "favorite_border"
        }}</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon color="primary">share</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <img
    mat-card-image
    #imageURLEl
    [defaultImage]="'assets/images/dog-loading.jpg'"
    [lazyLoad]="dog.image || ''"
    alt="Image of {{ dog.title }}"
  />
  <mat-card-content>
    <div fxLayout="row" fxLayoutAlign="space-between" style="width: 100%">
      <mat-expansion-panel
        [(expanded)]="xpandStatus"
        hideToggle
        style="width: 100%"
      >
        <mat-expansion-panel-header>
          <mat-icon color="accent">info</mat-icon>
          <mat-panel-title>info</mat-panel-title>
          <mat-panel-description>
            This or a related breed
          </mat-panel-description>
        </mat-expansion-panel-header>
        <!-- DOG INFO -->
        <ng-container *ngIf="dog.dogInfo?.state === ContentState.LOADED">
          <mat-card-header [ngStyle]="{ 'justify-content': 'left' }">
            <div
              mat-card-avatar
              class="example-header-image"
              [ngStyle]="{
                'background-image': 'url(' + dog?.dogInfo?.info?.image + ')',
                'background-size': 'cover'
              }"
            ></div>
            <mat-card-title>{{ dog?.dogInfo?.info?.breedName }}</mat-card-title>
            <mat-card-subtitle>{{
              dog?.dogInfo?.info?.dogInfo?.breedGroup
            }}</mat-card-subtitle>
          </mat-card-header>
          <p>{{ dog?.dogInfo?.info?.description }}</p>
          <ul [ngStyle]="{ 'list-style-type': 'none' }">
            <li>
              <b>Life Expectancy: </b>
              {{ dog?.dogInfo?.info?.dogInfo?.life }}
            </li>
            <li><b>Height:</b> {{ dog?.dogInfo?.info?.dogInfo?.height }}</li>
            <li><b>Weight:</b> {{ dog?.dogInfo?.info?.dogInfo?.weight }}</li>
          </ul>
        </ng-container>

        <mat-card-subtitle *ngIf="dog.dogInfo?.state === ContentState.ERR"
          >We couldn't find any info for this puppy :(</mat-card-subtitle
        >
      </mat-expansion-panel>
    </div>
  </mat-card-content>
</mat-card>
