<mat-toolbar class="main header" color="primary" #toolbar>
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <div>cutipies!</div>
  <img
    src="../../../assets/puppy_looking.svg"
    alt="doggy"
    style="filter: invert(1); width: 60px; margin-left: 12px"
  />
</mat-toolbar>
<mat-drawer-container
  [class.drawer-opened]="drawer.opened"
  class="example-container"
>
  <mat-drawer
    #drawer
    class="drawer"
    opened="false"
    [mode]="mobileQuery.matches ? 'over' : 'side'"
  >
    <div class="contents">
      <mat-nav-list>
        <a mat-list-item [routerLink]="nav.path" *ngFor="let nav of navLinks"
          ><mat-icon color="primary">{{ nav.icon }}</mat-icon>
          <span [style.marginLeft.px]="16">
            {{ nav.title }}
          </span>
        </a>
      </mat-nav-list>
    </div>
  </mat-drawer>

  <div
    class="main contents"
    [style.min-height]="
      mobileQuery.matches ? 'calc(100vh - 112px)' : 'calc(100vh - 128px)'
    "
  >
    <ng-content></ng-content>
  </div>
  <mat-toolbar class="main footer" #footer color="primary">
    remember... All dogs go to heaven!
  </mat-toolbar>
</mat-drawer-container>
